HELP.md

# Gradle
.gradle
**/build/
!src/**/build/
!gradle-wrapper.jar
.gradletasknamecache
gradle-app.setting

# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Mac
.DS_Store