<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Setup default Spring logging -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Add papertrail logging -->
    <appender name="PAPERTRAIL" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>logs.papertrailapp.com</syslogHost>
        <port>28499</port>
        <facility>USER</facility>
        <suffixPattern>bookself-backend: %logger %msg</suffixPattern>
    </appender>

    <!-- Only need to define papertrail here. Spring will be configured in base.xml above -->
    <root level="INFO">
        <appender-ref ref="PAPERTRAIL"/>
    </root>
</configuration>